@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --sentence-font: "Roboto", sans-serif;
    --title-font: "Montserrat", sans-serif;
    --white-color: #FFFFFF;
    --font-header-color-hover: #c4c4c4;
    --header-footer-color: #213555;
    --input-color-outline: rgb(230, 227, 227);
    --border-color: gray;
    --main-color: #f5efe7;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    height: 8vh;
    padding: 0;
}

.header-container {
    background-color: var(--header-footer-color);
    height: 100%;
    padding: 20px 30px;
    display: flex;
    box-sizing: border-box;
    align-items: center;

    border-bottom: 2px solid var(--border-color);
}

.header-container a {
    margin-right: 40px;

    font-family: var(--sentence-font);
    font-weight: 700;
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
}

.header-container a:hover {
    color: var(--font-header-color-hover);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;

    background-color: var(--main-color);
}

.central-area {
    height: 75%;
    width: 60%;
    display: flex;

    background-color: var(--white-color);

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.image-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.image-area img {
    width: 90%;
    height: auto;
}

.user-area {
    width: 50%;
    height: 100%;
}

.user-area hr {
    width: 80%;
}

.title {
    text-align: center;
    font-family: var(--title-font);
}

.title h1 {
    margin: 20px;
}

.user-input-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 70px 10px 70px;
}

.user-input {
    font-family: var(--sentence-font);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.user-input label {
    margin-bottom: 3px;
}

.user-input input {
    height: 35px;
    width: 190px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 0 0 0 8px;
    font-family: var(--sentence-font);
}

.user-input input:hover {
    background-color: var(--input-color-outline);
}

.user-input input:focus-visible {
    outline: 1px solid RGB(0, 176, 255);
}

.gender-title h4 {
    font-family: var(--title-font);
    padding: 0 70px;
    margin: 0;
}

.user-radio-group {
    padding: 20px 70px 10px 70px;
    display: flex;
    margin-bottom: 40px;
}

.gender-radio {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.gender-radio label {
    font-family: var(--sentence-font);
    margin-right: 7px;
}

.gender-radio input {
    margin: 0;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.submit-button input {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 20px;
    padding: 10px 25px;
    color: var(--white-color);
    background-color: RGB(0, 176, 255);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    border-radius: 4px;
}

.submit-button input:hover {
    background-color: #213555;
}

footer {
    height: 8vh;
}

.footer-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-color);

    border-top: 2px solid var(--border-color);
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 20px;
    color: var(--white-color);
}

.footer-container p {
    margin: 0;
}

.about-me-area {
    width: 50%;
    height: 100%;
}

.about-me-area hr {
    width: 80%;
}

.paragraph-area {
    padding: 20px 70px 10px 70px;
}

.paragraph-area p {
    margin: 0;
    margin-bottom: 25px;
    font-family: var(--sentence-font);
}

.social-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 70px 10px 70px;
}

.social-img img {
    width: 60px;
    height: auto;
    margin-right: 25px;
}